<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/css/blood_bank_regis_me.css" />
  <title>iDonor</title>
  <style>
    .bg-image-vertical {
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: auto 100%;
    }

    @media (min-width: 1025px) {
      .h-custom-2 {
        height: 100%;
      }
    }

    .dropdown:hover .dropdown-menu {
      display: block;
    }

    a.nav-link:hover {
      background-color: rgba(114, 114, 114, 0.454);
      font-size: 300px;
      font-style: italic;
    }

    .akash {
      color: red;
    }

    .form-control:hover {
      transform: scale(1.0);
      box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }

    .container:hover,
    button:hover {
      transform: scale(1.02);
      box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }
  </style>
</head>

<body style="background-color: rgba(252, 173, 173, 0.089)">
  <nav class="navbar navbar-expand-lg navbar-light "
    style="background-color: rgb(199, 5, 5); font-family: 'Baloo Bhai 2', cursive; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1 style="color: white;">iDonor</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        </ul>
        <a href="contact.html" class="btn btn-outline-light  mx-2 " tabindex="-1" role="button"
          aria-disabled="true">Contact Us</a>
        <a href="index.html" class="btn btn-light " tabindex="-1" role="button" aria-disabled="true">Home</a>
      </div>
    </div>
  </nav>
  <div>
    <br />
  </div>
  <div class="text-center mt-3 mb-4">
    <button class="btn btn-danger btn-lg ">
      <h1>Blood Bank Registration</h1>
    </button>
  </div>
  <br />

  <div class="container" style="background-color: rgba(243, 76, 76, 0.719);">
    <div class="mx-5 mb-5 pb-5 border bordre-danger border-4 rounded-3 pt-1" style="
          background-color: white;
          border-color: rgb(143, 25, 25);
        ">
      <div class="pb-3" style="text-align: center; color: rgb(20, 20, 1)">
        <h4>{{msg}}</h4>
      </div>
      <div class="mx-5">
        <form action="" method="post">
          <div class="row">
            <div class="col-sm-6 pt-4 " style=" background-color: rgba(160, 160, 160, 0.562);">
              <div class="form-control mb-4">
                <label for="name" class="my-1">
                  <h5>Blood Bank Name:</h5>
                </label>
                <input class="form-control mb-3" type="text" id="name" name="Blood_bank_name"
                  value="{{Blood_bank_name}} " />
              </div>
              <div>
              </div>
              <div class="form-control mb-4">
                <label for="License" class="my-1">
                  <h5>License Number:</h5>
                </label>
                <input class="form-control mb-3" type="text" id="License" name="License_number"
                  value="{{License_number}} " />
              </div>
              <div>
              </div>
              <div class="form-control mb-4">
                <label for="email" class="my-1">
                  <h5>Email Id:</h5>
                </label>
                <input class="form-control mb-3" type="email" id="email" name="Email" value="{{Email}} " />
              </div>
              <div>
              </div>
              <div class="form-control mb-4">
                <label for="password" class="my-1">
                  <h5>Password:</h5>
                </label>
                <input class="form-control mb-3" type="password" id="password" placeholder="Password" name="Password" />
              </div>
              <div>
              </div>
              <div class="form-control mb-4">
                <label for="address" class="my-1">
                  <h5>Street:</h5>
                </label>
                <input class="form-control mb-3" type="text" id="street" name="Street" value="{{Street}} " />
              </div>
              <div>
                <div class="form-control mb-4">
                  <label for="pincode" class="my-1">
                    <h5>Pincode:</h5>
                  </label>
                  <input class="form-control mb-3" type="text" id="pincode" name="Pincode" value="{{Pincode}} " />
                </div>
                <div>
                </div>

              </div>

            </div>

            <div class="col-sm-6 text-black pt-4" style="background-color: rgba(160, 160, 160, 0.562);">
              <div class="form-control mb-4">
                <label for="owner" class="my-1">
                  <h5>Owner Name:</h5>
                </label>
                <input class="form-control mb-3" type="text" id="oname" name="Owner_name" value="{{Owner_name}} " />
              </div>
              <div>
              </div>
              <div class="form-control mb-4">
                <label for="phn" class="my-1">
                  <h5>Phone Number:</h5>
                </label>
                <input class="form-control mb-3" type="text" id="phn" value="{{Phone_number}} " name="Phone_number" />
              </div>
              <div>
              </div>
              <div class="form-control mb-4">
                <label for="website" class="my-1">
                  <h5>Website:</h5>
                </label>
                <input class="form-control mb-3" type="text" id="website" value="{{Website}} " name="Website" />
              </div>
              <div>
              </div>
              <div class="form-control mb-4">
                <label for="c_password" class="my-1">
                  <h5>Confirm Password:</h5>
                </label>
                <input class="form-control mb-3" type="password" id="c_password" placeholder="Confirm Password"
                  name="c_password" />
              </div>
              <div>
              </div>
              <div class="form-control mb-4">
                <label for="city" class="my-1">
                  <h5>City:</h5>
                </label>
                <input class="form-control mb-3" type="text" id="city" name="City" value="{{City}} " />
              </div>
              <div>
              </div>

              <div class="form-control mb-4">
                <label for="district" class="my-1">
                  <h5>District:</h5>
                </label>
                <input class="form-control mb-3" type="text" id="district" name="District" value="{{District}} " />
              </div>
              <div>
              </div>


            </div>
          </div>
          <div class="row" style="background-color: rgba(160, 160, 160, 0.562);">
            <div class="col-sm-12">
              <div class="form-control mb-4 " style="background-color: white;">
                <label for="State" class="my-1">
                  <h5>State:</h5>
                </label>
                <select id="State" required class="form-control" name="State">
                  <option selected value="{{State}} ">{{State}}</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Andaman and Nicobar Islands">
                    Andaman and Nicobar Islands
                  </option>
                  <option value="Arunachal Pradesh">
                    Arunachal Pradesh
                  </option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Dadar and Nagar Haveli">
                    Dadar and Nagar Haveli
                  </option>
                  <option value="Daman and Diu">Daman and Diu</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Puducherry">Puducherry</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">
                    Himachal Pradesh
                  </option>
                  <option value="Jammu and Kashmir">
                    Jammu and Kashmir
                  </option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Odisha">Odisha</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="West Bengal">West Bengal</option>
                </select>
                <div></div>
                <br>

              </div>
            </div>
          </div>
          <div class="pt-1 mb-4 my-4 mt-3" style="text-align: center">
            <button class="btn btn-lg btn-success" type="submit" style="text-align: center">
              Register
            </button>
          </div>

          <p class="mb-0" style="text-align: center">
            Already have an account?
            <a href="{{url_for('blood_bank_login')}}" class="text-grey-50 fw-bold">Log In</a>
          </p>
        </form>
      </div>
    </div>
  </div>

  <div class="pt-1 ">
    <div class="container-fluid text-center py-1 mt-1"
      style="background-color: none;  font-family: 'Baloo Bhai 2', cursive;" ">
          <h3 class=" text-center text-muted ">© Created by <span class=" akash">Akash</span> and Team | All Rights
      Reserved</h3>
    </div>
  </div>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


</body>

</html>