<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/blood_bank_regis_me.css">
    <title>Hello, world!</title>
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }

        a.nav-link:hover {
            background-color: rgba(114, 114, 114, 0.454);
            font-size: 300px;
            font-style: italic;
        }

        .container:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
            background-color: rgba(30, 107, 107, 0.726);

        }

        .form-control:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
            background-color: rgba(253, 240, 215, 0.212);

        }

        .bg-image-vertical {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }

        @media (min-width: 1025px) {
            .h-custom-2 {
                height: 100%;
            }

            .akash {
                color: red;
            }
        }
    </style>
</head>

<body style="background-color: rgba(252, 147, 147, 0.089);">

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(199, 5, 5); ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <h1 style="color: white;">iDonor</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/check_blood_availability"
                            style="color: white ;font-size: 19px; ">Blood Availability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/non_eligibility"
                            style="color: white ;font-size: 19px; ">Non-Eligibility</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search_blood_banks" style="color: white ;font-size: 19px; ">Near By
                            Bloodbanks</a>
                    </li>

                </ul>

                <a class="btn btn-outline-light" href="/user_non_edit_profile" role="button"
                    style="margin: auto 10px;">Profile</a>
                <a class="btn btn-outline-light" href="/contact" role="button" style="margin: auto 10px;">Contact Us</a>
                <a class="btn btn-outline-light" href="/user_logout" role="button" style="margin: auto 10px;">Logout</a>
            </div>
        </div>
    </nav>
    <div class="my-4 " style="text-align: center; color: rgba(189, 3, 3, 0.856); ">
        <h1>Search Blood Stock</h1>
    </div>
    <form action="/check_blood_availability" class="bld_avail_form" method="POST">

        <div class="container  border rounded border-danger border-3 pt-4 px-5" style="background-color: white; ">

            <div class="row">
                <div class="col-4">
                    <label for="State">
                        <h5>State</h5>
                    </label>
                    <select id="inputState" required class="form-control" name="State">
                        <option selected>Select Your state</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                    </select>



                </div>


                <div class="col-4">

                    <label for="District">
                        <h5>District</h5>
                    </label>
                    <input type="text" name="District" class="form-control" id="District" placeholder="District">

                </div>

                <div class="col-4">
                    <label for="inputtate">
                        <h5>Blood group</h5>
                    </label>
                    <select id="inputtate" required class="form-control" name="Blood_group">
                        <option seleceted value="">Select blood group</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>


                </div>

            </div>
            <div class="my-4" style="text-align: center;">

                <button type="submit" class="btn btn-success" value="submit">submit</button>
            </div>

        </div>
    </form>
    <h4 class="py-4" style="text-align: center; color: tomato;">{{msg}}</h4>

    <br><br><br><br><br><br><br><br>
    <div class="pt-1">
        <div class="container-fluid text-center py-1 mt-1"
            style="background-color: none; font-family: 'Baloo Bhai 2', cursive;">
            <h3 class="text-center text-muted ">© Created by <span class="akash">Akash</span> and Team | All Rights
                Reserved</h3>
        </div>
    </div>
    </div>
</body>