<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/blood_bank_regis_me.css">
    <title>Hello, world!</title>
    <style>
        body {
            background: rgba(224, 20, 20, 0.322)
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }

        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none
        }

        .akash {
            color: red;
        }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

        .back:hover {
            color: #682773;
            cursor: pointer
        }

        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8
        }

        .bg-image-vertical {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }

        @media (min-width: 1025px) {
            .h-custom-2 {
                height: 100%;
            }
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        a.nav-link:hover {
            background-color: rgba(114, 114, 114, 0.454);
            font-size: 300px;
            font-style: italic;
        }

        a.nav-link:active {
            background-color: rgba(114, 114, 114, 0.454);
            font-size: 300px;
            text-decoration: underline;
            font-style: italic;
        }

        .form-control:hover {
            transform: scale(1.0);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }

        .container:hover,
        button:hover {
            transform: scale(1.03);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light "
        style="background-color: rgb(199, 5, 5); font-family: 'Baloo Bhai 2', cursive; ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1 style="color: white;">iDonor</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/check_blood_availability"
                            style="color: white ;font-size: 19px; ">Blood Availability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/non_eligibility"
                            style="color: white ;font-size: 19px; ">Non-Eligibility</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search_blood_banks" style="color: white ;font-size: 19px; ">Near By
                            Bloodbanks</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/user_non_edit_profile"
                            style="color: white ;font-size: 19px; ">Profile</a>
                    </li>


                </ul>
                <a href="/home" class="btn btn-outline-light " tabindex="-1" role="button" aria-disabled="true">Home</a>
            </div>
        </div>
    </nav>
    <div class="mt-3 container-fluid text-center">
        <button class="btn btn-lg btn-danger">
            <h2>Profile settings</h2>
        </button>
    </div>

    <div class="container rounded bg-white mt-4 mb-5">
        <form action="" method="POST">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                            class="font-weight-bold">{{First_name}} {{Last_name}}</span><span
                            class="text-black-50">{{Email_id}}</span><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <!-- <div class="d-flex justify-content-between align-items-center mb-2">
                        <h4 class="text-danger mb-3"><u>Profile Settings</u> </h4>
                    </div> -->

                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">
                                    <h5>First name</h5>
                                </label><input type="text" class="form-control" name="First_name"
                                    value="{{First_name}}"></div>
                            <div class="col-md-6"><label class="labels">
                                    <h5>Last name</h5>
                                </label><input type="text" class="form-control" name="Last_name" value="{{Last_name}} ">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">
                                    <h5>Phone Number</h5>
                                </label><input type="text" class="form-control" name="Phone_num"
                                    value="{{Phone_number}}"></div>
                            <div class="col-md-6"><label class="labels">
                                    <h5>Age</h5>
                                </label><input type="text" class="form-control" name="Age" value="{{Age}} "></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">
                                    <h5>Password</h5>
                                </label><input type="password" class="form-control" name="Password"
                                    value="{{Password}}"></div>
                            <div class="col-md-12 my-3"><label class="labels">
                                    <h5>Eligibility of donation</h5>
                                </label><input type="text" class="form-control" name="Eligibility"
                                    value="{{Eligibility}} "></div>
                            <div class="col-md-12"><label class="labels">
                                    <h5>Frequent donor?</h5>
                                </label><input type="text" class="form-control" name="Frequent_Donor"
                                    value="{{Frequent_Donor}} "></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">
                                    <h5>Gender</h5>
                                </label><select required class="form-control" name="Gender">
                                    <option selected value="{{Gender}}">{{Gender}} </option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select></div>
                            <div class="col-md-6"><label class="labels">
                                    <h5>Blood group</h5>
                                </label><select id="inputtate" required class="form-control" name="Blood_group">
                                    <option seleceted value="{{Blood_group}}">{{Blood_group}}</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                </select></div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5 mt-1">
                        <div class="col-md-12 my-1"><label class="labels">
                                <h5>Street</h5>
                            </label><input type="text" class="form-control" name="Street" value="{{Street}} "></div>
                        <div class="col-md-12 my-2"><label class="labels">
                                <h5>City</h5>
                            </label><input type="text" class="form-control" name="City" value="{{City}} "></div>
                        <div class="col-md-12 my-3"><label class="labels">
                                <h5>Pincode</h5>
                            </label><input type="text" class="form-control" name="Pincode" value="{{Pincode}} "></div>
                        <div class="col-md-12 my-2"><label class="labels">
                                <h5>District</h5>
                            </label><input type="text" class="form-control" name="District" value="{{District}} "></div>
                        <div class="col-md-12 my-3"><label class="labels">
                                <h5>State</h5>
                            </label><select id="inputState" required class="form-control" name="State">
                                <option selected value="{{State}} "> {{State}} </option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select></div>
                    </div>
                </div>
            </div>
            <div class=" text-center"><button class="btn btn-success btn-lg" type="submit">Save Profile</button></div>
            <div>
                <br>
            </div>
        </form>
    </div>
    </div>
    </div>
    <div class="pt-1">
        <div class="container-fluid text-center py-1 mt-1"
            style="background-color: none; font-family: 'Baloo Bhai 2', cursive;">
            <h3 class="text-center text-muted ">© Created by <span class="akash">Akash</span> and Team | All Rights
                Reserved</h3>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>