<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <title>iDonor</title>
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Great+Vibes&display=swap" rel="stylesheet" />
</head>

<body>


  <nav class="navbar navbar-expand-lg red">
    <div class="container-fluid">
      <span>
        <a class="navbar-brand nav1" href="/home">iDonor</a>
      </span>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown"></li>

        </ul>


        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="../static/Images/profile_icon.png" alt="">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/user_non_edit_profile">My Profile</a></li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/user_logout">Logout</a></li>
            </ul>
          </li>
        </ul>

        <a class="btn btn-outline-light" href="/contact" role="button" style="margin: auto 10px;">Contact Us</a>

      </div>
    </div>
  </nav>
  <!-- <br> -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/images/12.jpeg" class="d-block wid_img" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>First slide label</h5> -->
          <!-- <p>Some representative placeholder content for the first slide.</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/images/2.jpg" class="d-block wid_img" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5> -->
          <!-- <p>Some representative placeholder content for the second slide.</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/images/5.jfif" class="d-block wid_img" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5> -->
          <!-- <p>Some representative placeholder content for the third slide.</p> -->
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br /><br />
  <div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img src="../static/images/18.webp" class="card-img-top" alt="..." height="200px" />
          <div class="card-body">
            <h4 class="card-title">Check For Blood Availability</h4>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="/check_blood_availability" class="btn btn-danger">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img src="../static/images/3.jpeg" class="card-img-top" alt="..." height="200px" />
          <div class="card-body">
            <h4 class="card-title">Search Nearby Blood Banks</h4>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="/search_blood_banks" class="btn btn-danger">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img src="../static/images/17.jpeg" class="card-img-top" alt="..." height="200px" />
          <div class="card-body">
            <h4 class="card-title">Who Can Donate Blood</h4>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="/non_eligibility" class="btn btn-danger" style="margin: 13px auto">Click Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br /><br />
  <div class="display-flex col-sm-12">
    <div class="card bg-dark text-white mx-5 ">
      <img class="card-img" style="opacity: 0.5;"
        src="https://media.istockphoto.com/photos/professional-doctor-preparing-patient-for-procedure-picture-id627290560?k=20&m=627290560&s=612x612&w=0&h=LAe2Ou94kCGRju_7KDbAwZBSw1yH7EGLRRNKSOvFx2c="
        alt="Card image">
      <div class="card-img-overlay display-flex">
        <h2 class="card-title text-center">Before your donation:- </h2>
        <p class="card-text">1. Make an appointment and find a convenient day and time that works best for you.
          <br>
          2. Have iron-rich foods , such as red meat , fish, poultry , beans, spinach, iron-fortified cereals, or
          raisins.
          <br>
          3. Get a good night's sleep the night before your donation, eat healthy foods and drink extra liquids.
        </p>

        <h2 class="card-title text-center">Day of donation:- </h2>
        <p class="card-text">1. Bring your donor card, adhaar card, and any other forms of identification.
          <br>
          2. We'll need to know about all prescription and over-the-counter medications you're taking .
          <br>
          3. Drink an extra 16 oz of water ( or other non alcoholic drink ) before your appointment.
          <br>
          4. Eat a healthy meal , avoiding fatty foods like hamburgers , fries or ice cream.
          <br>
          5. Wear a top / shirt with sleeves that you can roll up above your elbows.
          <br>
          6. Let us know if you have a preferred arm or particular vein that has been used successfully in the past to
          draw blood .
          <br>
          7. Relax, listen to music, talk to other donors or read while you donate.
        </p>

        <h2 class="card-title text-center">After your donation:- </h2>
        <p class="card-text">1. Relax for a few minutes in recovery area and have some snacks.
          <br>
          2. Drink an extra four glass of liquids and avoid alcohol over the next 24 hours.
          <br>

          3. If the needle site starts bleeding, apply pressure and raise your arm straight up for 5-10 minutes or until
          bleeding stops.
          <br>
          4. Keep eating iron rich foods
          <br>
          5. If you donate frequently, be sure to make multivitamins with iron to ensure you continue to replenish your
          iron stores before your next donation.
        </p>
      </div>
    </div>
  </div>
  </div>




  <div class="card text-center mt-5">
    <div class="card-header">
      <!-- Featured -->
    </div>
    <div class="card-body" style="margin: auto 30px">
      <h3 class="card-title" style="font-weight: bold; color: rgb(131, 127, 127)">
        About This Website
      </h3>
      <p class="card-text">
        A centralized Blood Inventory Management System for keeping track of
        the blood stock across numerous blood banks.This website aims at
        maintaining all information regarding blood donors , different blood
        groups available in different blood banks and help them manage in a better
        way. Through this web app anyone who is in need of blood can check for the availability of a particular Blood
        group in any particular city. They can also search for the details of all the nearby blood banks.
        Blood banks will get a list of Frequent Donors in their District through which they can contact any particular
        donor for blood if there is an emergency.
      </p>

    </div>
    <div class="card-footer text-muted">

    </div>
  </div>
  <br /><br />
  <div class="red">
    <div class="container nav1">
      <footer class="py-1 my-1">
        <ul class="nav justify-content-center border-bottom pb-1 mb-1"></ul>
        <p class="text-center text-muted">© Created by <span class="akash">Akash</span> and Team | All Rights Reserved
        </p>
      </footer>
    </div>
  </div>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>