<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Title -->
  <title>iDonor</title>
  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/admin_dashboard2.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Great+Vibes&display=swap" rel="stylesheet" />
  <style>
    a.nav-link:hover {
      background-color: rgba(114, 114, 114, 0.454);
      color: red;
      font-size: 300px;
      font-style: italic;
    }

    .akash {
      color: red;
    }

    a.nav-link:active {
      background-color: rgba(114, 114, 114, 0.404);
      color: red;
      text-decoration: underline;
      font-size: 300px;
      font-style: italic;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
    }
  </style>
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(199, 5, 5); ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1 style="color: white;">iDonor</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin_dashboard')}}" style="color: white ;font-size: 19px; ">Admin
              Dashboard</a>
          </li>

        </ul>


        <a href="/admin_logout" class="btn btn-outline-light " tabindex="-1" role="button" aria-disabled="true">Log
          Out</a>
      </div>
    </div>
  </nav>
  <br><br>

  <div class="title">
    VERIFICATION REQUESTS
  </div>
  <br>
  <br>
  <br>
  {% for row in rows %}
  <form action="/registeration_verification_by_admin" method="post">
    <div class="user" style="display:flex;">
      Blood Bank : {{row.Blood_bank_name}}
    </div>
    <div class="user" style="display:flex;">
      License Number :<input type="text" value="{{row.License_Number}}" style="margin: 10px; margin-top: 0px; "
        class="btn btn-light" name="License_Number" placeholder="{{row.License_Number}}">
    </div>
    <div class="user" style="display:flex;">
      Owner Name : {{row.Owner_name}}
    </div>
    <div class="user" style="display:flex;">
      Email Id : {{row.Email}}
    </div>
    <div class="user" style="display:flex;">
      Phone Number : {{row.Phone_number}}
    </div>
    <div class="user" style="display:flex;">
      Website : {{row.Website}}
    </div>
    <div class="user" style="display:flex;">
      Address :{{row.Street}},{{row.City}},{{row.District}},{{row.Pincode}},{{row.State}},
    </div>

    <div class="user" style="display:flex;">
      <label for="result" style="margin-right: 10px;">Check this form:</label>
      <input list="results" name="result" id="result" placeholder="Accept/Reject">
      <datalist id="results">
        <option value="Accept">
        <option value="Reject">

      </datalist>
    </div>
    <br>
    <div class="message" style="display:flex;">
      <button style="margin: 10px;" type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </form>
  <br>
  {% endfor %}




  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


  <div class="">
    <div class="container-fluid text-center py-1 mt-1"
      style="background-color: none; font-family: 'Baloo Bhai 2', cursive;">
      <h3 class="text-center text-muted ">© Created by <span class="akash">Akash</span> and Team | All Rights Reserved
      </h3>
    </div>
  </div>

</body>

</html>