.red{
    /* background-color: #EA5455; */
    background-color: rgb(196, 15, 15);
    color: white;
    display: flex;
    
}
.nav1{
    font-size: 2.5rem;
    /* color: beige; */
    color: white;
    text-decoration: none;
    
}