body {
    /* background-color: #E5E5E5; */
    /* background-color: #DECDC3; */
    background-color: rgb(243, 233, 233);
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
    margin: auto 5px;
}

.red {
    /* background-color: #EA5455; */
    background-color: rgb(196, 15, 15);
    color: white;
    display: flex;

}

.nav1 {
    font-size: 2.5rem;
    /* color: beige; */
    color: white;
    text-decoration: none;

}

/* .nav1 p{
    color:white;
} */
/* .button{
    margin-right: 0px;
}
.pink{
    /* color: white; */
/* background-color:rgb(245, 223, 223) ;
} */
/* .boxrow{
    display: flex;
} */
/* .grey{
    background-color: #d0e0f5;
    margin: 50px auto;
    margin-right: 10px;
    height: 250px;
    width: 500px;
    padding: 15px;
}
.grey h2{
    font-size: 2rem;
    font-weight: bold;
}
.grey p{
    font-size: 1.2rem;
}
.darkgrey{
    background-color: #a4a8ad;
    margin: 50px auto;
    margin-left: 10px;
    height: 250px;
    width: 300px;
}
*/
.abc {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(211, 9, 9);
    /* color: #EA5455; */
}

.wid_img {
    width: 1700px;
    height: 600px;
}

.boxes {
    display: flex;
}

.minbox h1 {
    border: 8px solid rgb(211, 9, 9);
    color: white;
    text-align: center;
    margin: 3px;
    padding: 4px;
    font-size: 2rem;
    background-color: rgb(211, 9, 9);
}

.minbox {
    margin: auto;
    border: 2px solid rgb(173, 152, 152);
    width: 300px;
    height: 400px;
    background-color: white;
}

.minbox img {
    width: 290px;
    margin: auto 3px;
    height: 280px;
}

#box1 {
    margin-right: 0px;
}

#box2 {
    margin-left: 6px;
    margin-right: 0px;
}

#box3 {
    margin-left: 6px;
}

.instructions {
    background-color: hsl(200, 7%, 82%);
    color: black;
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 20px;
    border-width: 1px;
}

.textcontent {
    background-color: rgb(255, 255, 255);
    width: 75%;
    margin: auto;
    border-radius: 4px;
}

.textheading {
    background-color: rgb(100, 211, 226);
    width: 75%;
    margin: auto;
    border-radius: 4px;
    font-size: 30px;
}

.textcontent:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    background-color: rgb(141, 221, 217);
    color: rgb(12, 19, 18);
}

.akash {
    color: red;
}

.footer {
    background-color: none;
}